<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<filter>
		<filter-name>OuputFormatFilter</filter-name>
		<filter-class>OuputFormatFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OuputFormatFilter</filter-name>		
		<url-pattern>/*</url-pattern>			
	</filter-mapping>
	
	<servlet id="iehs">
		<servlet-name>equinoxbridgeservlet</servlet-name>			
		<servlet-class>org.eclipse.equinox.servletbridge.BridgeServlet</servlet-class>
		<!--
		  org.eclipse.equinox.servletbridge and the Servlet API are exported automatically to the underlying OSGi framework.
		  The extendedFrameworkExports parameter allows the specification of additional java package exports.
		  The format is a comma separated list of exports as specified by the "Export-Package" bundle manifest header.
		  For example: com.mycompany.exports; version=1.0.0, com.mycompany.otherexports; version=1.0.0
		  -->
		<init-param>
			<param-name>extendedFrameworkExports</param-name>
			<param-value></param-value>			
		</init-param>

		<!-- 
		  You can specify your own framework launcher here.
		  The default is: org.eclipse.equinox.servletbridge.FrameworkLauncher
		<init-param>
			<param-name>frameworkLauncherClass</param-name>
			<param-value>org.eclipse.equinox.servletbridge.FrameworkLauncher</param-value>
		</init-param>	
		-->	  
		
		
		<init-param>
			<param-name>org.eclipse.productname</param-name>
			<param-value>ganesan</param-value>			
		</init-param>
		
	          
        <init-param>
			<param-name>other.info</param-name>
			<param-value>org.eclipse.help</param-value>			
		</init-param>			
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>equinoxbridgeservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>equinoxbridgeservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

<error-page>
		<error-code>404</error-code>
		<location>/notfound.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/notfound.jsp</location>
	</error-page>
	
</web-app>