body {font-family: Arial, sans-serif; font-style: normal; font-size: 0.8em; background-color: #ffffff;}

/* rule for multibrand */
.bluerule {background-color: #336699;}

/* rule for db2 */
.db2rule {background-color: #009900;}

/* rule for lotus */
.lotusrule {background-color: #FFCC66;}

/* rule for tivoli */
.tivolirule {background-color: #CC0000;}

/* rule for rational */
.rationalrule {background-color: #0099CC;}

/* rule for websphere */
.wsrule {background-color: #996699;}

h1 {
	font-size: 1.5em;
	font-style : normal;
	font-weight : bold;
	word-spacing : 0.1em;
	margin-bottom: 0.1em; 
	padding-bottom: 0em;	
}
h2 {
   	font-size: 1.15em;
	font-style : normal;
	font-weight : bold;
	margin-bottom : 0.0em;
	padding-bottom : 0.0em;
}
h3 {	
	font-size: 1.1em;
	font-style : normal;
	font-weight : bold;
	margin-bottom : 0.2em;
	padding-bottom : 0.1em;
}

ul, ol {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

td, tr {
	font-family: Arial, sans-serif; 
	font-style: normal; 
	font-size: 0.9em;
}
A:link			{ color : #006699; text-decoration: underline; }
A:visited		{ color : #996699 ; text-decoration: underline;}  
A:active		   { color : #006699; text-decoration: underline;}
A:hover			{ color : #996699;text-decoration: underline;}



.runningfooter {font-family: Verdana, Arial, sans-serif; font-size: 0.7em; }
.runningfooter a:link {font-weight: bold; color: #000000; text-decoration: none;}
.runningfooter a:active {font-weight: bold; color: #000000; text-decoration: none;}
.runningfooter a:visited {font-weight: bold; color: #000000; text-decoration: none;}
.runningfooter a:hover {font-weight: bold; color: #000000; text-decoration: none;}
ol.orderList{margin-left:80px;}
